 <center>

<div class="col-md-8 col-md-offset-2">
        <div class="header-text">
             <h2>Enter The Details To Search Your faviorate Person </h2>
             <hr />
              
        </div>
 </div>
<div class="form-wrappor">
<%= form_for @search, html: { class: 'form-horizontal', multipart: true } do |v|%>
	    <div class="field">
    		
    		<%= v.label :autolyse, "Information",:value => "true" %>
    		<%= v.radio_button :autolyse, true, :checked => true %>
    		<%= v.label :autolyse , "Education",:value => "false" %>
    		<%= v.radio_button :autolyse, false, :checked => false, :id => "education" %>
    		<%= v.label :autolyse, "Parent",:value => "false" %>
    		<%= v.radio_button :autolyse, true, :checked => false, :id =>"parent" %>
  		</div>
  		<div class="col-span-3">
	    	FirstName
	    </div>
	    <div class="col-span-9">
	    	<%= v.text_field :f_name, placeholder: 'Enter Your First name', require: true%>
	    </div>

		<div class="col-span-3">
	    	LastName
	    </div>
	    <div class="col-span-9">
	    	<%= v.text_field :l_name, placeholder: 'Enter Your Last Name', require: true%>
	    </div>
	
		<div class="col-span-3">
	    	DOB
	    </div>
	    <div class="col-span-9" id="calendar">
	    	<%= v.date_field :dob, placeholder: 'Enter Your DOB', require: true%>
	    </div>
	
		<div class="col-span-3">
	    	Country*
	    </div>
	    <div class="col-span-9">
               <%= v.text_field :country, priority: ["GB", "US"], require: true %>
	    </div>
	
		<div class="col-span-3">
	    	State*
	    </div>
	    <div class="col-span-9">
           <%= v.text_field :state, require:true%>
        </div>
	
	
		<div class="col-span-3">
	    	Distric*
	    </div>
	    <div class="col-span-9">
	    	<%= v.text_field :distric, require:true %>
	    </div>
	
		<div class="col-span-3">
	    	Zip Code
	    </div>
	    <div class="col-span-9">
	    	<%= v.text_field :zip_code, require: true %>
	    </div>
	
	<div class="actions">
  		<%= v.submit "Search", class: 'pure-button pure-button-primary' %>
    </div>
    <% end %>
    </div>
    </center>
    

<script type="text/javascript">
	$('#parent').on('click', function(){
		window.location.href="/psearches/new";
	})
	$('#education').on('click', function(){
		window.location.href="/esearches/new";
	})
</script>
