		<center>
    <%= form_for infos_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search]%>
    <%= submit_tag "Search"%>
    <% end %>
    <%= link_to "Advance Search", new_search_path%>    
    <h2> 10th Education Details</h2>
    <hr /> 
    <table cellpadding="10" border="5" bgcolor="lightpink">
              <tr>
                  <th>First Name</th>
                  <th>Last name</th>
                  <th>DOB</th>
                  <th>Country</th>
                  <th>State</th>
                  <th>Distric</th>
                  <th>Zip Code</th>
                  <th>Action</th>
              </tr>   
          <% @infos.each do |v| %>

            <tr>
               <td> <%= v.f_name %></td>
                <td><%= v.l_name%></td>                 
                <td><%= v.dob %></td>
                <td><%= v.country%></td>
                <td><%= v.state%></td>
                <td><%= v.distric%></td>
                <td><%= v.zip_code%></td>

            </tr>
          <% end %>
    </table>      
          <%= link_to "New Biodata", new_info_path%>
          
           <%= link_to "educations_index_path" %>
          </center>